<nav>
<div class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">E-Commerce App</a>
        </div>
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]="['/products']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">All
                        Products</a>
                </li>
                <li><a [routerLink]="['/products/new']" routerLinkActive="active">Create Product</a></li>
            </ul>
            <div class="navbar-header navbar-right">
              <button class="btn btn-primary navbar-nav" routerLink="/cart">
                <i style="font-size: 20px;" class="fas fa-cart-plus"></i>

              </button>
                <ul class="nav navbar-nav">
                    <li>
                        <a *ngIf="!auth.isAuthenticated()" routerLinkActive="active" [routerLink]="['user/login']">Login</a>
                        <a *ngIf="auth.isAuthenticated()" [routerLink]="['user/profile']">Welcome {{auth.currentUser.userName }} </a>
                    </li>
                </ul>
            </div>


    </div>
</div>
</nav>
