<div class="container">

    <div class="row">
        <div class="col-md-11">
            <h2>{{product?.name | uppercase}} </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="productSpec"><strong>Name:</strong> {{product?.name}}</div>
            <div class="productSpec"><strong>Model:</strong> {{product?.model}}
            </div>
            <div class="productSpec"><strong>Quantity:</strong> {{product?.quantity}}</div>


            <div class="productSpec"><strong>Price:</strong> {{product?.price | currency:'USD'}}</div>

        </div>
        <div class="image-position"> <img [src]="product?.imageUrl" [alt]="product?.name" class="product-image"></div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="button" class="btn btn-default" (click)="delete(product)" >Delete</button>
</div>
