<div class="container">
<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form class="form-singin" #loginForm="ngForm" (ngSubmit)="login(loginForm)" novalidate >
    <div class="form-group" >
      <div *ngIf="invalidLogin" class="form-group">
        <div class="alert alert-danger">Invalid username or password</div>
      </div>
      <em *ngIf="loginForm.controls.userName?.invalid && loginForm.controls.userName?.touched">required</em>
      <label for="username">Username</label>
    <input type="text" id="userName" name="userName" ngModel class="form-control" placeholder="User Name.." required
      autofocus>

      </div>
    <div class="form-group">
      <em
        *ngIf="loginForm.controls.password?.invalid && loginForm.controls.password?.touched">required</em>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password.." required
        autofocus>
    </div>
    <div style="color: black" class="form-group">Not registered yet? <a style="color: black; text-decoration: underline;"
        routerLink="/register">Register</a></div>

      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
      <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
  </form>

</div>
</div>
